@import url("//cdn.web-fonts.ge/fonts/alk-tall-nusxuri/css/alk-tall-nusxuri.min.css");

/* font-family: 'Grape Nuts', cursive; */

@font-face {
    font-family: 'Grape Nuts';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('GrapeNuts-Regular.eot?#iefix') format('embedded-opentype'),
        url('GrapeNuts-Regular.woff2') format('woff2'),
        url('GrapeNuts-Regular.woff') format('woff'),
        url('GrapeNuts-Regular.svg#GrapeNuts-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


